<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: pageIncludes" />
    <title>Confeo | Strona rejestracji i logowania</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/my-css/add-event.css}"	href="/resources/static/css/my-css/event.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/js/my-js/add-event.js}"></script>
    
</head>
<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<header class="main-header" th:include="common/include :: pageHeader"></header>
<nav class="navbar navbar-default" th:include="common/include :: pageHeaderNav"></nav>
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Tworzenie wydarzenia</h1>
            </div>
        </div>
    </div>
</div>
<div class="event-creation" style="background-color: rgb(249, 249, 249);">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="box-for overflow">
                <div class="col-md-12 col-xs-12 register-blocks">
               
                    <h2>Nowe wydarzenie : </h2>
                    <div th:if="${message}" class="error-message"
                         role="alert" th:text="${message}"></div>
                    <form th:action="@{/events/add/save}" th:object="${event}" method="post">
                        <div class="form-group">
                            <label for="name">Nazwa *</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}">
                             <p th:if="${#fields.hasErrors('name')}" class="label label-danger" th:errors="*{name}">Należy podać imię wydarzenia</p>
                        	<span style='display: none;' id="name-error-message" class="help-block">Proszę podać nazwę wydarzenia</span> 
                        </div>
                        <div class="form-group">
                            <label for="startDate">Data rozpoczęcia *</label>
                            <input type="date" class="form-control" id="startDate" th:field="*{startDate}">
                            <span style='display: none;' id="startDate-error-message" class="help-block">Proszę podać przyszłą datę rozpoczęcia wydarzenia</span> 
                        </div>
                        <div class="form-group">
                            <label for="endDate">Data zakończenia *</label>
                            <input type="date" class="form-control" id="endDate" th:field="*{endDate}">
                            <span style='display: none;' id="endDate-error-message" class="help-block">Proszę podać datę zakończenia wydarzenia<br/>Data musi być późniejsza od daty rozpoczęcia wydarzenia</span> 
                        </div>
                       <div class="form-group">
                            <label for="type">Typ wydarzenia</label>
                            <select class="form-control" th:field="*{type}">
                            	<option th:each="type: ${eventTypes}" th:value="${{type}}" th:text="${type}">Brak</option>
                            </select>
                            <span style='display: none;' id="type-error-message" class="help-block">Proszę wybrać type wydarzenai</span> 
                        </div>
                        <div class="form-group">
                            <label for="category">Kategoria</label>
                            <select class="form-control" th:field="*{category}">
                            	<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}">Brak</option>
                            </select>
                            <span style='display: none;' id="category-error-message" class="help-block">Proszę wybrać kategorię wydarzenia</span> 
                        </div>
                        <div class="form-group">
                            <label for="description">Opis</label>
                            <textarea rows="6" class="form-control" name="description" id="description" th:field="*{description}"></textarea>
                        	<span class="text-right" id="chars_description">0 / 250</span>
                        	<span style='display: none;' id="description-error-message" class="help-block">Opis może zawierać maksymalnie 250 znaków</span> 
                        </div>
                        <hr/>
                        <div class="text-uppercase">Miejsce szkolenia</div>
                        
                        <div class="form-group">
                            <label for="street">Ulica</label>
                            <input type="text" class="form-control" name="street" id="street" th:field="*{address.streetName}">
                        </div>
                        <div class="form-group">
                            <label for="street-number">Numer ulicy</label>
                            <input type="text" class="form-control" name="streetNumber" id="street-number" th:field="*{address.streetNumber}">
                        </div>
                        <div class="form-group">
                            <label for="city">Miasto</label>
                            <input type="text" class="form-control" name="city" id="city" th:field="*{address.cityName}">
                        </div>
                        <hr/>
                        <!-- <div class="form-group">
                        	<label for="isFree">Wydarzenie darmowe</label>
                       		<input type="checkbox" class="free-event-checkbox form-control" id="isFree" th:field="*{isFree}" />
                        	
                       	</div>
                       	<div class="form-group" id="price-form-group">
                        	<label for="price">Cena za udział w wydarzeniu (zł)</label>
                        	<input type="text" class="form-control" id="price" th:field="*{pricePerParticipant}" >
                        </div> -->
                        <div class="form-group">
                        	<label for="maxParticipants">Maksymalna liczba uczestników</label>
                        	<input type="number" class="form-control" id="maxParticipants" th:field="*{maxParticipants}">
                        </div>
               
                        <div class="text-center">
                            <button type="submit" class="btn btn-default">Utwórz wydarzenie</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<nav th:include="common/include :: pageFooter"></nav>

<th:block th:include="common/include :: pageFooterIncludes" />

<script>

</script>
</body>
</html>