<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: pageIncludes" />
    <title>Confeo | Strona wydarzenia</title>
    <meta charset="utf-8">
</head>
<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<header class="main-header" th:include="common/include :: pageHeader"></header>
<nav class="navbar navbar-default" th:include="common/include :: pageHeaderNav"></nav>
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title" th:text="${event.name}">a</h1>
            </div>
        </div>
    </div>
</div>
<div class="event-details">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="error-message" th:if="${failureMessage}" th:text="${failureMessage}"></div>
                <div class="success-message" th:if="${successMessage}" th:text="${successMessage}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Status wydarzenia: </label>
            </div>
            <div class="col-sm-4">
                <div th:text="${event.status}"></div>
            </div>
            <div class="col-sm-3">
                <div sec:authorize="hasRole('ROLE_PARTICIPANT')">
                    <a th:if="${event.status?.name() == 'UPCOMING' && event.users?.size() < event.maxParticipants && !isSignedUpForEventAsParticipant && !isSignedUpForEventAsPrelegent}" type="submit" class="btn btn-default" th:href="@{'/events/' + ${event.id} + '/signUp'}">Zapisz się na wydarzenie</a>
                </div>
                <div sec:authorize="hasRole('ROLE_PARTICIPANT')">
                    <a th:if="${event.status?.name() == 'UPCOMING' && isSignedUpForEventAsParticipant}" type="submit" class="btn btn-default" th:href="@{'/events/' + ${event.id} + '/signOff'}">Wypisz się z wydarzenia</a>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_ORGANIZER','ROLE_ADMIN')">
                    <button th:if="${event.status?.name() == 'UPCOMING' and currentUser == event.organiser?.email}" type="submit" class="btn btn-default" data-toggle="modal" data-target="#cancel-event-modal">Anuluj wydarzenie</button>
                </div>
            </div>
            <div class="col-sm-3">
                <div sec:authorize="hasAnyRole('ROLE_ORGANIZER','ROLE_ADMIN')">
                    <a th:href="@{/events/{id}/edit(id=${event.id})}"><button th:if="${event.status?.name() == 'UPCOMING' and currentUser == event.organiser?.email}" class="btn btn-default">Edytuj wydarzenie</button></a>
                </div>
                <div sec:authorize="hasRole('ROLE_PARTICIPANT')">
                    <a th:href="@{'/events/' + ${event.id} + '/makePrelection'}" th:if="${event.status?.name() == 'UPCOMING' and !isSignedUpForEventAsParticipant}" class="btn btn-default">Zostań prelegentem</a>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Data wydarzenia: </label>
            </div>
            <div class="col-sm-6">
                <div th:if="${event.startDate != null && event.endDate != null}">
                    <span th:if="${event.endDate == event.startDate}" th:text="${#temporals.format(event.startDate, 'dd/MM/yyyy')}"></span>
                    <div th:if="${event.endDate != event.startDate}"><span class="event-start-date" th:text="${#temporals.format(event.startDate, 'dd/MM/yyyy')}"></span>&nbsp;-&nbsp;<span th:text="${#temporals.format(event.endDate, 'dd/MM/yyyy')}"></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Typ wydarzenia: </label>
            </div>
            <div class="col-sm-6">
                <div th:text="${event.type}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Kategoria wydarzenia: </label>
            </div>
            <div class="col-sm-6">
                <div th:text="${event.category.name}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Wstęp: </label>
            </div>
            <div class="col-sm-6">
                <div th:if="${event.isFree}">BEZPŁATNE</div>
                <div th:unless="${event.isFree}" th:text="${#numbers.formatDecimal(event.pricePerParticipant, 0, 'POINT', 2, 'COMMA') + ' zł'}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Adres: </label>
            </div>
            <div class="col-sm-6">
                <div th:text="${event.address.cityName + ', ' + event.address.streetName + ' ' + event.address.streetNumber}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Opis: </label>
            </div>
            <div class="col-sm-8">
                <div th:text="${event.description}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Liczba uczestników: </label>
            </div>
            <div class="col-sm-8">
                <div th:text="${#lists.size(event.users) + '/' + event.maxParticipants}"></div>
            </div>
        </div>
        <div th:if="${currentUser == event.organiser?.email}" sec:authorize="hasAnyRole('ROLE_ORGANIZER','ROLE_ADMIN')">
            <div class="row">
                <div class="col-sm-2">
                    <label>Uczestnicy: </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div th:each="user : ${event.users}" >
                        <div th:text="${user.firstname + ' ' + user.lastname}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="cancel-event-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Anulowanie wydarzenia</h4>
            </div>
            <div class="modal-body">
                <p>Jesteś pewien, że chcesz anulować wydarzenie <span th:text="${event.name}"></span>?</p>
                <p>Anulowanie wydarzenia zakłada konieczność kontaktu organizatora wydarzenia z jego uczestnikami w celu zwrotu wpłaconych środków.</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" th:href="@{'/events/' + ${event.id} + '/cancel'}">Tak</a>
                <button type="button" class="btn dismiss-btn" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<nav th:include="common/include :: pageFooter"></nav>

<th:block th:include="common/include :: pageFooterIncludes" />

<script>
</script>
</body>
</html>