<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: pageIncludes"/>
    <title>Confeo | Strona rejestracji i logowania</title>
    <meta charset="utf-8">
</head>
<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<header class="main-header" th:include="common/include :: pageHeader"></header>
<nav class="navbar navbar-default" th:include="common/include :: pageHeaderNav"></nav>
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Zarejestruj / Zaloguj</h1>
            </div>
        </div>
    </div>
</div>
<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container">
        <div class="col-md-6">
            <div class="box-for overflow">
                <div class="col-md-12 col-xs-12 register-blocks">
                    <h2>Zarejestruj : </h2>

                    <div th:if="${successRegisterMessage}" class="success-message" role="alert"
                         th:text="${successRegisterMessage}"></div>
                    <div th:if="${errorRegisterMessage}" class="error-message" role="alert"
                         th:text="${errorRegisterMessage}"></div>
                    <form th:action="@{/register}" th:object="${registerUser}" method="post"
                          onsubmit="return areTermsOfUseSumbitted()">
                        <ul>
                            <li th:each="role : ${roles}" class="radio-inline">
                                <input type="radio" class="role-radio-button" th:field="*{role}"
                                       th:value="${role.name()}"/>
                                <label th:for="${#ids.prev('role')}" th:text="${role}">Rola *</label>
                            </li>
                        </ul>
                        <div class="form-group">
                            <label for="firstname">Imię *</label>
                            <input type="text" class="form-control" id="firstname" th:field="*{firstname}"
                                   oninput="isFirstnameValid()">
                            <span style='display: none;' id="firstname-error-message" class="help-block">Imie musi zostać podane</span>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Nazwisko *</label>
                            <input type="text" class="form-control" id="lastname" th:field="*{lastname}"
                                   oninput="isLastnameValid()">
                            <span style='display: none;' id="lastname-error-message" class="help-block">Nazwisko musi zostać podane</span>
                        </div>
                        <div class="form-group">
                            <label for="register-email">Email *</label>
                            <input type="text" class="form-control" id="register-email" th:field="*{email}"
                                   oninput="isEmailValid()">
                            <span style='display: none;' id="register-email-error-message-empty" class="help-block">Email musi zostać podany</span>
                            <span style='display: none;' id="register-email-error-message-invalid" class="help-block">Email ma niepoprawny format</span>
                        </div>
                        <div class="form-group">
                            <label for="register-password">Hasło *</label>
                            <input type="password" class="form-control" id="register-password" th:field="*{password}"
                                   oninput="isPasswordValid()">
                            <span toggle="#register-password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            <span style='display: none;' id="register-password-error-message-empty" class="help-block">Haslo musi zostać podane</span>
                            <span style='display: none;' id="register-password-error-message-invalid" class="help-block">Minimalna dlugosc hasla to 8 znakow. Haslo musi zawierac
                                co najmniej jedna mala i wielka litere oraz cyfre</span>
                        </div>
                        <div class="form-group terms-of-use-block">
                            <label for="register-checkbox" class="register-checkbox-label">
                                <input type="checkbox" class="form-control" id="register-checkbox"
                                       name="register-checkbox" onclick="areTermsOfUseSumbitted()">
                                &nbsp;&nbsp;Akceptuję warunki <a th:href="@{/terms-of-use}"> regulaminu</a> serwisu
                            </label>
                            <span style='display: none;' id="terms-error-message" class="help-block">Regulamin musi zostać zaakceptowany</span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default" onclick="return validateRegisterForm()">
                                Zarejestruj
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-for overflow">
                <div class="col-md-12 col-xs-12 login-blocks">
                    <h2>Zaloguj : </h2>
                    <div th:if="${errorLoginMessage}" class="error-message"
                         role="alert" th:text="${errorLoginMessage}"></div>
                    <form th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label for="login-email">Email</label>
                            <input type="text" class="form-control" id="login-email" name="username"
                                   oninput="isNotEmpty('#login-email')">
                            <span class="error-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="login-password">Hasło</label>
                            <input type="password" class="form-control" id="login-password" name="password"
                                   oninput="isNotEmpty('#login-password')">
                            <span toggle="#login-password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default" onclick="return validateLoginForm()">
                                Zaloguj
                            </button>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<nav th:include="common/include :: pageFooter"></nav>

<th:block th:include="common/include :: pageFooterIncludes"/>
<script>

    $('#register-password').popover({
        trigger: 'focus',
        content: 'Musi zawierać co najmniej 8 znaków.\nMusi zawierać co najmniej jedną małą i jedną wielką literę.\nMusi zawierać co najmniej jedną cyfrę.',
        placement: 'bottom'
    });

    $(".toggle-password").on("click", function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    markUserRoleRadioButton();

    function markUserRoleRadioButton() {
        $(".register-blocks input:radio:first").attr('checked', true);
    }

    function isNotEmpty(selector) {
        var notEmptyField = $(selector).val().trim() != '';
        if (notEmptyField) {
            makeFieldValid(selector)
        } else {
            makeFieldInvalid(selector)
        }
        return notEmptyField;
    }

    function makeFieldValid(selector) {
        $(selector).removeClass('invalid-field');
        $(selector).addClass('valid-field');
    }

    function makeFieldInvalid(selector) {
        $(selector).removeClass('valid-field');
        $(selector).addClass('invalid-field');
    }

    function areTermsOfUseSumbitted() {
        if (document.getElementById("register-checkbox").checked === true) {
            $('.terms-of-use-block .register-checkbox-label').css({"border": "none"});
            return true;
        } else {
            $('.terms-of-use-block .register-checkbox-label').css({"border-color": "red",
                "border-width":"1px",
                "border-style":"solid"});
            $("#terms-error-message").show();
            return false;
        }
    }

    function validateFirstname() {
        var isValid = isFirstnameValid();
        if(!isValid) {
            $("#firstname-error-message").show();
        }
        return isValid;
    }

    function isFirstnameValid() {
        var selector = '#firstname';
        var isValid = isNotEmpty(selector);
        if (!isValid) {
            makeFieldInvalid(selector);
        } else {
            makeFieldValid(selector);
            $("#firstname-error-message").hide();
        }
        return isValid;
    }

    function validateLastname() {
        var isValid = isLastnameValid();
        if(!isValid) {
            $("#lastname-error-message").show();
        }
        return isValid;
    }

    function isLastnameValid() {
        var selector = '#lastname';
        var isValid = isNotEmpty(selector);
        if (!isValid) {
            makeFieldInvalid(selector);
        } else {
            makeFieldValid(selector);
            $("#lastname-error-message").hide();
        }
        return isValid;
    }

    function validateEmail() {
        var selector = '#register-email';
        var isNotEmptyField = isNotEmpty(selector);
        var isCorrectFormat = isEmailFormatCorrect(selector);
        if(!isNotEmptyField) {
            $("#register-email-error-message-empty").show();
            makeFieldInvalid(selector);
        } else {
            if(!isCorrectFormat) {
                $("#register-email-error-message-invalid").show();
                makeFieldInvalid(selector);
            }
        }
        return (isNotEmptyField && isCorrectFormat);
    }

    function isEmailFormatCorrect(selector) {
        var emailPattern = new RegExp("^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$");
        return emailPattern.test($(selector).val());
    }

    function isEmailValid() {
        var selector = '#register-email';
        var isNotEmptyField = isNotEmpty(selector);
        var isCorrectFormat = isEmailFormatCorrect(selector);
        var condition = isNotEmptyField && isCorrectFormat;
        if (isNotEmptyField || isCorrectFormat) {
            $("#register-email-error-message-empty").hide();
            $("#register-email-error-message-invalid").hide();
            if (condition) {
                makeFieldValid(selector);
            } else  {
                makeFieldInvalid(selector);
            }
        } else {
            makeFieldInvalid(selector);
        }
        return condition;
    }

    function validatePassword() {
        var selector = '#register-password';
        var isNotEmptyField = isNotEmpty(selector);
        var isCorrectFormat = isPasswordFormatCorrect(selector);
        if(!isNotEmptyField) {
            $("#register-password-error-message-empty").show();
            makeFieldInvalid(selector);
        } else {
            if(!isCorrectFormat) {
                $("#register-password-error-message-invalid").show();
                makeFieldInvalid(selector);
            }
        }
        return (isNotEmptyField && isCorrectFormat);
    }

    function isPasswordFormatCorrect(selector) {
        var element = $(selector);
        var value = element.val();
        var upperCase = new RegExp('[A-Z]');
        var lowerCase = new RegExp('[a-z]');
        var numbers = new RegExp('[0-9]');
        return value.match(upperCase) != null && value.match(lowerCase) != null
            && value.match(numbers) != null && value.length >= 8;
    }

    function isPasswordValid() {
        var selector = '#register-password';
        var isNotEmptyField = isNotEmpty(selector);
        var isCorrectFormat = isPasswordFormatCorrect(selector);
        var condition = isNotEmptyField && isCorrectFormat;
        if (isNotEmptyField || isCorrectFormat) {
            makeFieldValid(selector);
            $("#register-password-error-message-empty").hide();
            $("#register-password-error-message-invalid").hide();
            if (condition) {
                makeFieldValid(selector);
            } else  {
                makeFieldInvalid(selector);
            }
        } else {
            makeFieldInvalid(selector);
        }
        return condition;
    }

    function validateRegisterForm() {
        var isFirstnameValid = validateFirstname();
        var isLastnameValid = validateLastname();
        var isPasswordValid = validatePassword();
        var areTermsSumbitted = areTermsOfUseSumbitted();
        var isEmailValid = validateEmail();
        return (isFirstnameValid && isLastnameValid && isPasswordValid && areTermsSumbitted
            && isEmailValid);
    }

    function validateLoginForm() {
        var isLoginNotEmpty = isNotEmpty('#login-email');
        var isPasswordNotEmpty = isNotEmpty('#login-password');
        return (isLoginNotEmpty && isPasswordNotEmpty);
    }
</script>
</body>
</html>