<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: pageIncludes" />
    <title>Confeo | Strona prelekcji</title>
    <meta charset="utf-8">
</head>
<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<header class="main-header" th:include="common/include :: pageHeader"></header>
<nav class="navbar navbar-default" th:include="common/include :: pageHeaderNav"></nav>
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title" th:text="${prelection.name}">a</h1>
            </div>
        </div>
    </div>
</div>
<div class="event-details">
    <div class="container">
        <div class="row">
            <div class="col-sm-2" >
                <label>Status: </label>
            </div>
            <div class="col-sm-6">
                <div th:text="${prelection.status}"></div>
            </div>
            <div class="col-sm-2">
                <div sec:authorize="hasAnyRole('ROLE_PARTICIPANT','ROLE_ADMIN')">
                    <a th:if="${prelection.status?.name() == 'WAITING' and (currentUser.email == prelection.user?.email || currentUser.role?.name() == 'ADMIN')}" type="submit" class="btn btn-default" th:href="@{'/prelections/' + ${prelection.id} + '/edit'}">Edytuj prelekcję</a>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_ORGANIZER')">
                    <a th:if="${prelection.status?.name() == 'WAITING' and currentUser.email == prelection.event.organiser?.email}" class="btn btn-default" th:href="@{'/prelections/' + ${prelection.id} + '/submit'}">Zatwierdź prelekcję</a>
                </div>
            </div>
            <div class="col-sm-2">
                <div sec:authorize="hasAnyRole('ROLE_PARTICIPANT','ROLE_ADMIN')">
                    <button th:if="${prelection.status?.name() == 'WAITING' and (currentUser.email == prelection.user?.email || currentUser.role?.name() == 'ADMIN')}" class="btn btn-default" data-toggle="modal" data-target="#cancel-prelection-modal">Anuluj prelekcję</button>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_ORGANIZER')">
                    <a th:if="${prelection.status?.name() == 'WAITING' and currentUser.email == prelection.event.organiser?.email}" class="btn btn-default" th:href="@{'/prelections/' + ${prelection.id} + '/reject'}">Odrzuć prelekcję</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Opis: </label>
            </div>
            <div class="col-sm-6">
                <div th:text="${prelection.description}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Prelegent: </label>
            </div>
            <div class="col-sm-8">
                <div th:text="${prelection.user.firstname + ' ' + prelection.user.lastname + ' (' + prelection.user.username + ' )'}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Wydarzenie: </label>
            </div>
            <div class="col-sm-6">
                <a th:text="${prelection.event.name}" th:href="@{'/events/' + ${prelection.event.id}}"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Data wydarzenia: </label>
            </div>
            <div class="col-sm-6">
                <div th:if="${prelection.event.startDate != null && prelection.event.endDate != null}">
                    <span th:if="${prelection.event.endDate == prelection.event.startDate}" th:text="${#temporals.format(prelection.event.startDate, 'dd/MM/yyyy')}"></span>
                    <div th:if="${prelection.event.endDate != prelection.event.startDate}"><span class="event-start-date" th:text="${#temporals.format(prelection.event.startDate, 'dd/MM/yyyy')}"></span>&nbsp;-&nbsp;<span th:text="${#temporals.format(prelection.event.endDate, 'dd/MM/yyyy')}"></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" >
                <label>Adres wydarzenia: </label>
            </div>
            <div class="col-sm-6">
                <div th:text="${prelection.event.address.cityName + ', ' + prelection.event.address.streetName + ' ' + prelection.event.address.streetNumber}"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="cancel-prelection-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Anulowanie prelekcji</h4>
            </div>
            <div class="modal-body">
                <p>Jesteś pewien, że chcesz anulować prelekcję <span th:text="${prelection.name}"></span>?</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" th:href="@{'/prelections/' + ${prelection.id} + '/cancel'}">Tak</a>
                <button type="button" class="btn dismiss-btn" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>


<nav th:include="common/include :: pageFooter"></nav>

<th:block th:include="common/include :: pageFooterIncludes" />

<script>
</script>
</body>
</html>