<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: pageIncludes" />
    <title>Confeo | Regulamin</title>
    <meta charset="utf-8">
</head>
<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<header class="main-header" th:include="common/include :: pageHeader"></header>
<nav class="navbar navbar-default" th:include="common/include :: pageHeaderNav"></nav>
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Regulamin serwisu Confeo</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="col-md-8 col-md-offset-2 text-justify">
		<h2>Regulamin serwisu Confeo</h2>
		<br><p>Regulamin obowiązuje od 23 marca 2018 roku.</p>
		<br><p>Poniższy Regulamin określa zasady funkcjonowania serwisu internetowego confeo.pl.
		 W Regulaminie określone są podstawowe zasady funkcjonowania Serwisu oraz prawa i obowiązki Użytkowników.
		</p>
		<p><b>1.</b> Użytkownik to osoba korzystająca z Serwisu, będąc zalogowaną na swoim koncie. 
		W Serwisie wyróżniamy trzy rodzaje użytkowników: Uczestnik, Organizator oraz Administrator. Różnią się prawami dostępu do różnych funkcji Serwisu. 
		</p>
		<ul>
			<li>Uczestnik - może przeglądać wydarzenia, zapisywać się na wydarzenia, na które są wolne miejsca oraz wypisywać z wydarzeń, zgłaszać się jako prelegent do danego wydarzenia, wyszukiwać interesujące go wydarzenia.</li>
			<li>Organizator - może przeglądać wydarzenia, tworzyć własne wydarzenia oraz edytować je. Ma prawo do anulowania wydarzenia oraz zatwierdzania lub odrzucania proponowanych przez uczestników prelekcji.</li>
			
			<li>Administrator - właściciel Serwisu, który zastrzega sobie prawa do edycji treści zamieszczanych na Serwisie.</li>
		</ul>
		<p>
			<b>2.</b>  Uczestnikiem organizowanych wydarzeń może być każda osoba, która
			ukończyła co najmniej 13 lat, z zastrzeżeniem zdania następnego. W przypadku Uczestników, którzy nie
			ukończyli 18 roku życia, wymagana jest obecność na szkoleniu również opiekuna.
		</p>
		<p>
			<b>3.</b> Warunkiem uczestnictwa w wydarzeniach organizowanych w ramach Confeo, wymagane jest zapisanie się na wydarzenie oraz uiszczenie odpowiedniej opłaty w przypadku szkoleń płatnych.
		</p>
		<p>
			<b>4.</b> W przypadku anulowania wydarzenia Organizator jest zobowiązany do poinformowania o tym fakcie wszystkich Uczestników wydarzenia oraz zwrotu opłat uiszczonych przez użytkowników. W przypadku anulowania wydarzenia do tygodnia przed datą wydarzenia, Organizator jest zobowiązany dodatkowo zwrócić Uczestnikom odszkodowanie w wysokości opłaty za szkolenie.
		</p>
		<p>
			<b>5.</b> Płatność za udział w wydarzeniu odbywa się poprzez wykonanie przelewu na konto Organizatora. Organizator zobowiązany jest do przekazania Uczestnikom szczegółów płatności.
		</p>
		<p>
			<b>6.</b> W przypadku braku wolnych miejsc na wydarzenie, Uczestnik nie ma możliwości zapisania się na nie.
		</p>
		<p>
			<b>7.</b> W przypadku nieuiszczenia opłaty za wydarzenie Organizator ma prawo nie dopuścić Uczestnika do udziału w wydarzeniu.
		</p>
		<p>
			<b>8.</b> Organizator ma prawo do wglądu w dane Uczestników: imię, nazwisko oraz e-mail.
		</p>
		<p>
			<b>9.</b> Niedozwolone jest prowadzenie przez Użytkowników działalności reklamowej lub promocyjnej wykraczającej poza informowanie o organizowanym wydarzeniu.
		</p>
		<p>
			<b>10.</b> Niedozwolone jest wykorzystanie e-maila uczestników w innym celu niż informowanie o wydarzeniu, na które się zapisał.
		</p>
		<p>
			<b>11.</b> Serwis może być użytkowany przez Gości. Gość ma dostęp do ograniczonej liczby funckji serwisu. Może jedynie przeglądać informacje o wydarzeniach na serwisie bez możliwości zapisywania się na wydarzenie. Gość może się zarejestrować lub zalogować w serwisie, jeśli posiada już konto. 
		</p>
		<p>
			<b>12.</b> Rejestracja w Serwisie Confeo jest bezpłatna i polega na wypełnieniu formularza rejestracyjnego znajdującego się w Serwisie.
		</p>
		<p>
			<b>13.</b> Confeo zastrzega sobie prawo do przesyłania Użytkownikowi na podany przez niego przy rejestracji e-mail, informacji technicznych i systemowych dotyczących funkcjonowania Serwisu, nie stanowiących informacji handlowej w rozumieniu ustawy o świadczeniu usług drogą elektroniczną.
		</p>
		<p>
			<b>14.</b> Confeo ma prawo usuwać z Serwisu treści sprzeczne z prawem i Regulaminem.
		</p>
		<p>
			<b>15.</b> Jeżeli Użytkownik nie wyraża zgody na przestrzeganie Regulaminu, zobowiązany jest niezwłocznie zaprzestać korzystania z Serwisu.
		</p>
		<p>
			<b>16.</b> Do użytkowania Serwisu niezbędne jest posiadanie urządzenia z dostępem do Internet oraz przeglądarki internetowej.
		</p>
		<p>
			<b>17.</b> Confeo dołoży wszelkich starań, aby Serwis działał poprawnie i w pełnej funkcjonalności w każdym czasie, jednakże zastrzega sobie prawo do czasowego wyłączenia Serwisu lub jego poszczególnych funkcji w celu ich ulepszenia, dodania nowych funkcjonalności lub przeprowadzenia naprawy bądź konserwacji.
		</p>
		<p>
			<b>18.</b> Confeo spełnia wymogi ochrony danych osobowych Użytkownika wynikające z powszechnie obowiązujących przepisów prawa.
		</p>
		<p>
			<b>19.</b> Confeo zastrzega sobie prawo do dokonywania zmian Regulaminu, jeżeli zmiana jest wymagana przepisami obowiązującego prawa, a także w celu poprawy jakości lub rozszerzenia zakresu świadczonych Usług.
		</p>
		<p>
			<b>20.</b> Wszelkie zmiany Regulaminu zostaną podane do wiadomości Użytkownika poprzez wiadomość elektroniczną wysłaną na adres e-mail przypisany do Konta Użytkownika.
		</p>
		<p>
			<b>21.</b> W przypadku gdy Uczestnik wypisze się z wydarzenia, za które zapłacił, po zwrot kosztów musi się zgłosić do Organizator. Organizator w takim wypadku nie ma obowiązku zwrotu pieniędzy.
		</p>
	</div>
</div>

<nav th:include="common/include :: pageFooter"></nav>

<th:block th:include="common/include :: pageFooterIncludes" />
</body>
</html>